<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="{{STATIC_URL}}img/logo_light_blue.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/bootstrapSwitch.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/snapshot.css" rel="stylesheet" />
    <script src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrapSwitch.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/snapshop.js"></script>

    <title>SnapShop</title>
  </head>

  <body>
    {% block body %}
    {% endblock %}
    <div id="preview-modal-container"></div>
  </body>
</html>
