<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/bootstrapSwitch.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/snapshot.css" rel="stylesheet" />
    <script src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrapSwitch.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>    
    <script src="{{STATIC_URL}}js/snapshop.js"></script>
  </head>

  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
