{% extends "base.html" %}

{% block body %}
<div class="splash">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4">
      </div>
      <div class="span4">
	<center class="half-height">
	  <form action="" method="POST">
	    <div class="rob-box well">
	      <div class="rob-header">
	      </div>
	      <div class="rob-body">
		<fieldset>
		  <div class="control-group">
		    <input type="text" placeholder="Name" />
		  </div>
		  <div class="control-group">
		    <input type="text" placeholder="Email" />
		  </div>
		  <div class="control-group">
		    <input type="text" placeholder="Password" />
		  </div>
		  <div class="control-group">
		    <input type="text" placeholder="Phone" />		  
		  </div>
		</fieldset>
		<div class="row-fluid" id="tos-section">
		  <div class="offset1 span5">
		    <i class="muted">
		      lsldk fsldfkj sldkfj lsdkfj sldkf jfldkj 
		      lskdfj slkdfj lsdkjflsdk lskdjflsdk jslsfdlkf
		      sldkfs lkds lskd lskdf js
		    </i>
		  </div>
		  <div class="offset1 span4">
		    <div id="tos-switch" class="switch switch-large" data-on-label="GOOD" data-off-label="Agree?">
		      <input type="checkbox">
		    </div>
		  </div>
		</div>
		<button class="btn btn-large btn-block btn-primary" type="button">Sign up now!</button>
	      </div>		
	  </form>
	  
	  </div>
	</center>
      </div>
      <div class="span4">
      </div>
    </div>
  </div>
</div>
{% endblock %}
