{% extends "base.html" %}
{% load snapshop_tags %}

{% load shop_extras %}

{% block body %}
<div class="splash">
  <div class="container page">
    <div class="page-header">
      <a href="{% url 'search' %}"><img style="width:20%" class="pull-right" src="{{STATIC_URL}}img/logo-small.png" /></a>
      <h1><img src="{{STATIC_URL}}img/search.png" /> Results for: <small>{{query}}</small></h1>
    </div>
    <div class="page-body">
      <div class="ingredient-box" >
	{% if keyword_item_map.keys %}
	{% for keyword,shop_items in keyword_item_map.items %}
	<div id="{{keyword}}-container" class="ingredient-list-container">
	  <p class="ingredient-list-title pull-right"><span class="label">Matching: {{keyword}}</span> | <i data-containerid="{{keyword}}-container" class="icon-remove remove-ingredient-list"></i></p>
	  <div class="clearfix"></div>
	  <div id="ingredient-list-{{keyword}}" class="ingredient-list" data-page="0" data-keyword="{{keyword}}">
	    <div class="row-fluid">
	      <img class="pull-left half-height index-back" data-target="ingredient-list-{{keyword}}" src="{{STATIC_URL}}img/left-arrow.png" />
	      {% for item in shop_items %}
	      {% if forloop.first %}
	      <div id="row-{{keyword}}-{{forloop.counter0}}" class="row-{{keyword}} ingredient-row">
	      {% else %} 
	      {% if forloop.counter0|divisibleby:10 %}
	      </div>
	      <div id="row-{{keyword}}-{{forloop.counter0|divide:10}}" class="hide row-{{keyword}} ingredient-row">
	      {% endif %}
	      {% endif %}	      
	      <div class="span1 ingredient-item" data-item-name="{{item.item_name}}" data-item-price="{{item.item_price}}" data-item-id="{{item.pk}}">
		<img class="ingredient-thumbnail tooltipped" data-title="{{item.item_name}} - {{item.item_price|pretty_price}}" src="{{item.item_thumb_medium}}" />
	      </div>
	      {% if forloop.last %}
	      </div>
	      {% endif %}
	      {% endfor %}
	      <img class="pull-right half-height index-forward" data-target="ingredient-list-{{keyword}}" src="{{STATIC_URL}}img/right-arrow.png" />
	      <div class="clearfix"></div>
	    </div>
	  </div>
	</div>
	{% endfor %}
	{% else %}
	<p class="muted">No matching keywords for query {{query}}</p>
	{% endif %}
      </div>
      <hr class="thick"/>
      <div class="cart-box">
	<div class="subpage-header">
	  <h2><img src="{{STATIC_URL}}img/cart.png" /> Ingredients Cart</h2>
	</div>
	<table id="cart-table" class="table">
	  <thead>
	    <th class="cart-name">Name</th>
	    <th class="cart-quantity">Quantity</th>
	    <th class="cart-amount">Amount</th>
	    <th class="cart-actions">Actions</th>
	  </thead>

	  <tbody>
        {% for row in cart %}
        <tr data-item-price="{{row.1.item_price}}" data-item-id="{{row.1.pk}}">
          <td><img src="{{row.1.item_thumb_medium}}" width="24" height="24"/> {{row.1.item_name}}</td>
          <td class="quantity">{{row.0}}</td>
          <td class="price">{{row.1.item_price | pretty_price}}</td>
          <td>
            <i class="icon-chevron-down"></i> <i class="icon-chevron-up"></i><i class="icon-remove"></i>
          </td>
        </tr>
        {% endfor %}

	    <tr class="summary-row">
	      <td><b>Total: </b></td>
	      <td></td>
	      <td><b>{{cart_total | pretty_price}}</b></td>
	      <td></td>
	    </tr>
	  </tbody>

	</table>
      </div>
    </div>
    <hr class="thick"/>


    <div class="purchase-form-box">
      <div class="subpage-header">
        <h2><img src="{{STATIC_URL}}img/purchase.png" /> Purchase Form</h2>
      </div>
      <p>Order by Saturday, March 16 for delivery on Monday, March 18. We currently ship to the following MIT living groups: Baker House, Pi Lambda Phi, Nu Delta. Our next shipment date will be Saturday, April 6 with more locations.</p>
    {% if user.is_authenticated %}
      <p>Your credit card will not be charged until your groceries ship. If you have placed an order with us before, simply select your card below.</p>
      <p><br /></p>
      <form id="purchase-form" class="form-horizontal" action="{% url 'results' %}" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form.visible_fields %}
      <div class="control-group">
        {{ field.errors }}
        <label class="control-label" for="{{ field.html_name }}">
          {{ field.label }} {% if field.field.required %}*{% endif %}</label>
        <div class="controls">
          {{ field }}
        </div>
        </div>
      {% endfor %}
      <p>* fields are required</p>
      <!--{{ form.items_list }}-->
      <input type="hidden" id="id_items_list" name='item_list' value='{{cart_json}}'></input><!-- Required for saving cart -->
      <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-white icon-home"></i> Order my Groceries</button>
      </div>

    {% else %}
        <p>Please <a href="{% url 'login' %}?next={{request.path}}">log in</a> or <a href="{% url 'sign_up' %}?next={{request.path}}">sign up</a> before making a purchase</p>
        <input type="hidden" id="id_items_list" name='item_list' value='{{cart_json}}'></input><!-- Required for saving cart -->
    {% endif %}


      </form>

    </div>
  </div>
</div>
  {% endblock %}
