{% extends "base.html" %}
{% load snapshop_tags %}

{% block body %}
<div class="splash">
  <div class="container page">
    <div class="page-header">
      <a href="{% url 'search' %}"><img style="width:20%" class="pull-right" src="{{STATIC_URL}}img/logo-small.png" /></a>
      <h1><img src="{{STATIC_URL}}img/search.png" /> Results for: <small>{{query}}</small></h1>
    </div>
    <div class="page-body">
      <div class="ingredient-box">
	{% if keyword_item_map.keys %}
	{% for keyword,shop_items in keyword_item_map.items %}
	<p class="ingredient-list-title pull-right"><span class="label">Matching: {{keyword}}</span></p>
	<div class="clearfix"></div>
	<div class="ingredient-list">
	  <div class="row-fluid">
	    {% for item in shop_items %}
	    <div class="span1 ingredient-item" data-item-name="{{item.item_name}}" data-item-price="{{item.item_price}}" data-item-id="{{item.pk}}">
	      <img class="ingredient-thumbnail tooltipped" data-title="{{item.item_name}} - {{item.item_price|format_price}}" src="{{item.item_thumb_medium}}" />
	    </div>
	    {% endfor %}
	  </div>


	</div>
	{% endfor %}
	{% else %}
	<p class="muted">No matching keywords for query {{query}}</p>
	{% endif %}
      </div>
      <hr class="thick"/>
      <div class="cart-box">
	<div class="subpage-header">
	  <h2><img src="{{STATIC_URL}}img/cart.png" /> Ingredients Cart</h2>
	</div>
	<table id="cart-table" class="table">
	  <thead>
	    <th class="cart-name">Name</th>
	    <th class="cart-quantity">Quantity</th>
	    <th class="cart-amount">Amount</th>
	    <th class="cart-actions">Actions</th>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
      </div>
    </div>
    <hr class="thick"/>


    <div class="purchase-form-box">
      <div class="subpage-header">
        <h2><img src="{{STATIC_URL}}img/purchase.png" /> Purchase Form</h2>
      </div>

    {% if user.is_authenticated %}

      <p>Your credit card will not be charged until your groceries ship. If you have placed an order with us before, simply select your card below.</p>

      <form id="purchase-form" class="form-horizontal" action="{% url 'results' %}" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form.visible_fields %}
      <div class="control-group">
        {{ field.errors }}
        <label class="control-label" for="{{ field.html_name }}">
          {{ field.label }} {% if field.field.required %}*{% endif %}</label>
        <div class="controls">
          {{ field }}
        </div>
        </div>
      {% endfor %}
      <p>* fields are required</p>
      {{ form.items_list }}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-white icon-home"></i> Order my   Groceries</button>
      </div>

    {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'sign_up' %}">sign up</a> before making a purchase</p>
    {% endif %}


      </form>

    </div>
  </div>
</div>
  {% endblock %}
