{% extends "base.html" %}

{% block body %}
<div class="splash">
  <div class="container-fluid full-height">
    <div class="row-fluid full-height">
      <div class="span3">
      </div>
      <div class="span6 full-height">
	<div class="well half-height rob-box">
	  <div class="rob-header">
	  </div>
	  <div class="rob-body">
	    <center>
	      <div class="input-append full-width">
		<input class="tall-input" placeholder="Get your groceries..." type="text">
		<button class="btn btn-large"><i class="icon-search"></i></button>
	      </div>
	    </center>
	    <button class="btn btn-large btn-block btn-primary" type="button">Search</button>
	  </div>
	</div>
      </div>
      <div class="span3">
      </div>
    </div>
  </div>
</div>
{% endblock %}
