{% extends "base.html" %}

{% block body %}
<div class="splash">
  <div class="container-fluid full-height">
    <div class="row-fluid full-height">
      <div class="span3">
      </div>
      <div class="span6 full-height">
	<div class="well half-height rob-box">
	  <div class="rob-header">
	  </div>
	  <div class="rob-body">
	    <form action="/main/" method="GET">
	    <center>
	      <div class="input-append full-width">
		<input name="q" class="xlarge-input" placeholder="Get your groceries..." type="text">
		<button class="btn btn-large btn-primary"><i class="icon-white icon-search"></i></button>
	      </div>
	    </center>
	    </form>
	  </div>
	</div>
      </div>
      <div class="span3">
      </div>
    </div>
  </div>
</div>
{% endblock %}
