{% extends "base.html" %}

{% block body %}
<div class="splash">
  <div class="container-fluid full-height">
    <div class="row-fluid full-height">
      <div class="span3">
      </div>
      <div class="span6 full-height">
	<div class="well half-height rob-box">
	  <div class="rob-header">
	  </div>
	  <div class="rob-body">
	    <form action="{% url 'results' %}" method="GET">
	      <center>
		<p class="muted">
		  {% if user.is_authenticated %}
		  Welcome {{user.username}}! How is your day? <a href="{% url 'logout' %}">Logout</a>
		  {% else %}
		  Not logged in? <a href="{% url 'login' %}">Login here</a>.  or no account? <a href="{% url 'sign_up' %}">Sign up</a>
		  {% endif %}
		</p>
		<p class="muted">Order by 5PM Friday, April 5 for delivery on April 6 to: Nu Delta, Pi Lambda Phi. Our next shipment date will be Saturday, April 27 with more locations.</p>
		<select name="q" data-placeholder="Enter a list e.g.: apple, granola bar, whole milk" multiple class="chzn-select full-width">
		</select>
		<button class="submit btn btn-primary"><i class="icon-shopping-cart icon-white"></i>Find your groceries</button>

	    </center>
	    </form>
	  </div>
	</div>
      </div>
      <div class="span3">
      </div>
    </div>
  </div>
</div>
{% endblock %}
