html, body {height:100%;padding-left:0px;padding-right:0px; color:#333;}
div.splash
{
    height:100%;
    width:100%;
    background-image:url("/static/img/bg2.jpg");
    background-repeat:repeat-y;
}
.rob-box {
    margin-top:60px;
    box-shadow:0px 0px 10px #111;
    min-width:325px;
    -webkit-box-shadow:0px 0px 10px #111;
    -moz-box-shadow:0px 0px 10px #111;
}
.rob-header
{
    background-image:url("/static/img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px 60px;
    height:90px;
}

.rob-body {padding-top:15px;}
#tos-section {margin-bottom:20px;}
#tos-switch {margin-top:15px;}
.rob-box.well {width:100%;padding:5px;}
#search-box.well {padding:0px;}
.rob-box input[type=text], .rob-box input[type=password] {width:80%;}
.full-height {height:100%;}
.full-width {width:100%;}

.rob-box form {margin-bottom:0;}

.ingredient-list  .ingredient-thumbnail:hover, .ingredient-list .ingredient-item.selected .ingredient-thumbnail
{
   box-shadow:0px 0px 30px #6A6;
   -webkit-box-shadow:0px 0px 30px #6A6;
   -moz-box-shadow:0px 0px 30px #6A6;
   opacity:1;
   cursor:pointer;
}

.ingredient-list .ingredient-thumbnail
{
   box-shadow:0px 0px 10px #CCC;
   -webkit-box-shadow:0px 0px 10px #CCC;
   -moz-box-shadow:0px 0px 10px #CCC;
   opacity:.7
}

.ingredient-list
{
    padding:20px;
    padding-top:5px;
    border-bottom: solid 2px #333;
    margin-bottom:0px;
}

.page {
    background:#FFF;
    margin-top:54px;
    box-shadow:0px 0px 10px #111;
    -webkit-box-shadow:0px 0px 10px #111;
    -moz-box-shadow:0px 0px 10px #111;
}
.page .page-header
{
    background:#EEE;
    padding:20px;
    padding-bottom:10px;
    margin-top:0;
    margin-bottom:0;
/* IE10 Consumer Preview */
background-image: -ms-linear-gradient(bottom right, #EEEEEE 0%, #FAFAFA 100%);

/* Mozilla Firefox */
background-image: -moz-linear-gradient(bottom right, #EEEEEE 0%, #FAFAFA 100%);

/* Opera */
background-image: -o-linear-gradient(bottom right, #EEEEEE 0%, #FAFAFA 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #EEEEEE), color-stop(1, #FAFAFA));

/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(bottom right, #EEEEEE 0%, #FAFAFA 100%);

/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to top left, #EEEEEE 0%, #FAFAFA 100%);
}

.purchase-box {
/* IE10 Consumer Preview */
background-image: -ms-linear-gradient(bottom right, #EEEEEE 0%, #FAFAFA 100%);

/* Mozilla Firefox */
background-image: -moz-linear-gradient(bottom right, #EEEEEE 0%, #FAFAFA 100%);

/* Opera */
background-image: -o-linear-gradient(bottom right, #EEEEEE 0%, #FAFAFA 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #EEEEEE), color-stop(1, #FAFAFA));

/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(bottom right, #EEEEEE 0%, #FAFAFA 100%);

/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to top left, #EEEEEE 0%, #FAFAFA 100%);

}

.cart-box {padding:20px;border-right: solid thin #CCC;}
.purchase-form-box {padding:20px;}
.cart-list li
{
    background:#FFF;
    font-size:200%;
    margin-bottom:10px;
    box-shadow:0px 0px 10px #CCC;
    -webkit-box-shadow:0px 0px 10px #CCC;
    -moz-box-shadow:0px 0px 10px #CCC;
}
.lightweight {font-weight:300;}

.large-input[type="text"], .large-input[type="password"] , .chzn-choices input {
    font-weight:300;
    height:25px;
    font-size:150%;
    line-height:normal;
}

.xlarge-input[type="text"], .xlarge-input[type="password"] {
    font-weight:300;
    height:35px;
    font-size:20px;
    line-height:normal;
}

.subpage-header {
    margin-bottom:10px;
    padding-bottom:10px;
}

.subpage-header h2 {
    font-weight:300;
    font-size:200%;
}

.results-query-form {
    display:inline;
}

.rounded {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

#cart-table .cart-name {width:50%;}
#cart-table .cart-quantity {width:10%;}
#cart-table .cart-amount {width:20%;}
#cart-table .cart-actions {width:20%;}
#cart-table thead {background:#333; color:#FFF;}

hr.thick {border:solid thick #333;margin-top:0px;}

p.ingredient-list-title {margin-right:10px;margin-bottom:0px;margin-top:3px;padding:bottom:0px;opacity:.7}

.remove-ingredient-list:hover {cursor:pointer;}
.ingredient-row {margin-left:60px;}
.ingredient-badge {position:absolute;}
.navbar .chzn-container-multi {margin-top:-2px;height:28px;}
.navbar .btn {margin-top:0px;}